/*=============================
=            FONTS            =
=============================*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic');



/*===================================
=            BASE STYLES            =
===================================*/
body {
    font-family: 'Lato';
}
section, header, footer, main, article, nav, aside {
    position: relative;
}
a {
    outline: none !important;
    text-decoration: none !important;
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
    text-decoration: none !important;
}
.force-gpu * {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
.super-center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.center-bottom {
    position: absolute;
    left: 50%;
    top: 90%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}




/*=============================
=            CARDS            =
=============================*/
section {
    position: relative;
}
section .wrap {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #444;
    min-height: 800px;
    min-height: 100vh;
}
section:nth-child(even) .wrap {
    background: rgb(182, 182, 182);
}
section h2 {
    font-size: 80px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 50px;
}







/*======================================
=            INTRODUCKSHIN             =
======================================*/
#intro .wrap {
    text-align: center;
    background: #222;
}
#intro h1 {
    color: #fff;
    font-weight: 200;
    font-size: 130px;
    margin: -100px 0 0;
}
#intro h2 {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    color: #3bcfff;
}

#intro h3 {
    font-size: 24px;
    color: #00c1ff;
}




/*=============================
=            ABOUT            =
=============================*/
#about .wrap {
    padding: 100px 0;
    background: rgb(177, 106, 255);
    opacity: .7;
}
#about h2 {
    color: #fff;
}

.about-panel {
    opacity: .85;
    box-shadow: 1px 2px 2px #808080;
}



/*================================
=            Education            =
================================*/
#education .wrap {
    padding: 100px 0;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-image: url('../images/education/umslgradpic.jpg');
    background-color: orange;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#education .wrap:before {
    position: absolute;
    content: ' ';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(225deg,red 7%, yellow);
    background-image: linear-gradient(225deg, red 7%, yellow);
    display: block;
    opacity: .7;
}
#education h2, #education h3, #education h4, #education p { color: #fff; }

.cap-icon {
    text-align: center;
    padding-top: 30px;
}




/*============================
=            WORK            =
============================*/
#work .wrap {
    padding: 100px 0;
    background: #2ecc71;
}
#work h2 {
    color: whitesmoke;
}

#work h3, #work h4, #work p { color: #2d2d2d; }


/*============================
=           SKILLS            =
============================*/
#skills .wrap {
    padding: 100px 0;
    background: rgb(52, 140, 255);
}
#skills h2 {
    color: whitesmoke;
}

#skills h3, #skills h4, #skills p { 
    color: #2d2d2d;
}

#skills img {
    height: 70px;
}



/*===============================
=            CONTACT            =
===============================*/
#connect .wrap {
    background: #c0392b;
}

.connect-panel {
    opacity: .9;
    box-shadow: 1px 2px 2px #808080;
}




/*==============================
=            FOOTER            =
==============================*/
#footer .wrap { background: #222; }
#footer h2 { color: #fff; }








/*=====================================
=            MEDIA QUERIES            =
=====================================*/
@media only screen and (max-width : 500px) {
    .navbarcolor {
        overflow: hidden;
    }
    .navbarcolor a {
        font-size: xx-small;
    }
    .brand-logo img {
        height: 20px;
        width: 20px;
    }
    #intro h1, #about h2, #education h2, #work h2, #skills h2, #connect h2 { font-size: 40px; }
    #intro h2 { font-size: 20px; }
    #intro h3 { font-size: 16px; }
    #intro p { font-size: 17px; }
    #footer h2 { font-size: 30px; }
    h3 { font-size: smaller;}
    h4 { font-size: smaller;}
    #skills h3 {
    font-size: medium;
}
}


/*=====================================
=           CUSTOM COLORS Y'ALL       =
=====================================*/

.socialiconcolor {
    color: #e74c3c;
  -o-transition: .8s;
  -ms-transition: .8s;
  -moz-transition: .8s;
  -webkit-transition: .8s;
    transition: .8s;
    transition-timing-function: ease-in-out;
}

.white {
    color: whitesmoke;
}

.socialiconcolor:hover {
    color: #545454;
}

/*=====================================
=           custom navbar stuff       =
=====================================*/

.navbarcolor {
    background: #222;
    font-size: 110%;
    font-weight: 700;
    border: none;
    float: none;
    text-align: center;
    padding: 0;
    overflow: hidden;
}

.thanks {
    display: none;
}

.brand-logo {
    color: whitesmoke;
      -o-transition: 1s;
      -ms-transition: 1s;
      -moz-transition: 1s;
      -webkit-transition: 1s;
      transition: 1s;
      transition-timing-function: ease-in-out;
    margin: -4px;
    align-content: center;
    align-items: center;
    align-self: center;
}

.brand-logo:hover {
    color: rgb(41, 215, 255);
}

li.col-md-2, li.col-md-1 {
    padding: 0;
}

.navbar-brand > img {
    display: inline-block;
}

.navbar-collapse {
    border-top: none;
    box-shadow: none;
}

.collapse {
    display: inline-block;
}

.work-panel {
    opacity: .95;
    color: whitesmoke;
    box-shadow: 1px 2px 2px #808080;
}

.work-panel:hover {
    opacity: 4;
    box-shadow: 2px 5px 5px #808080;
}

.work-background-panel {
    opacity: .85;
    background-color: rgb(197, 255, 197);
    border: none;
    box-shadow: 1px 1px 1px #808080;
}

.skills-background-panel {
    opacity: .85;
    background-color: rgb(197, 223, 255);
    border: none;
    box-shadow: 1px 1px 1px #808080;
}

.skills-panel {
    opacity: .95;
    color: whitesmoke;
    box-shadow: 1px 2px 2px #808080;
    vertical-align: text-top;
    max-height: 140px;
    line-height: 140px;
}

.skills-panel:hover {
    opacity: 4;
    box-shadow: 2px 5px 5px #808080;
}

.img-inline {
    display: inline-block;
}

.navbar-shadow {
    box-shadow: 2px 2px 2px #222;
}
